body{
	background:url(https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size:cover;
	background-position: center;
}
#content{
	text-align:center;
	padding-top:25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.4),
				 0px 18px 23px rgba(0,0,0,0.4);
}
.navbar-default{
	font-variant:unicase;
}
.btn-default{
	font-family: metal mania;
}
h1,h3{
	color:white;
	font-family: metal mania;
}
h1{
	font-weight:700;
	font-size:5em;
}
html{
	height:100%;
}
hr{
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,0.2);
	width:800px;
}
